{{ ops_user_name }}  ALL=(ALL) !/usr/bin/sudo -i,!/usr/bin/sudo su,!/usr/bin/sudo -s
{{ dev_user_name }}  ALL=(ALL)  /usr/bin/netstat,/usr/bin/ps,/usr/bin/cat,/usr/bin/ls,!/usr/sbin/*,!/bin/su,!/usr/bin/vim,!/usr/bin/vi,!/usr/bin/nano,!/usr/bin/sudo -i
